@media only screen and (max-width : 640px) {
  /* логотип */
  .splash-logo {
    max-width: 320px;
  }
  /* прелоадер */
  .splash-preloader {
    width: 124px;
    height: 124px;
    background-size: cover;
  }
  /* текст */
  .splash-text {
    font-size: 24px;
  }
}
@media only screen and (max-width : 540px) {
  /* логотип */
  .splash-logo {
    max-width: 270px;
  }
  /* прелоадер */
  .splash-preloader {
    width: 104px;
    height: 104px;
  }
  /* текст */
  .splash-text {
    font-size: 21px;
  }
}
@media only screen and (max-width : 480px) {
  /* логотип */
  .splash-logo {
    max-width: 240px;
  }
  /* прелоадер */
  .splash-preloader {
    width: 92px;
    height: 92px;
  }
  /* текст */
  .splash-text {
    font-size: 18px;
  }
}