/* экран загрузки */
.splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  
  height: 100vh;
  
  background-image: url(../img/splash-screen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.splash-logo {
  margin-top: 14vh;
  margin-bottom: auto;
}
.splash-preloader {
  width: 138px;
  height: 138px;
  margin-bottom: 9vh;
  
  background-image: url(../img/preloader.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  -webkit-animation-name: spin;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 900ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 900ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 900ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
   o { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.splash-text {
  margin-bottom: 8vh;
  
  font-family: "Proxima Nova Regular";
  font-size: 28px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}