@media only screen and (max-width : 640px) {
   /* шапка */
  .header {
    height: 56px;
  }
  .header-title {
    font-size: 19px;
  }
  /* иконка корзины */
  .header-price {
    font-size: 18px;
  }
  .header-price span {
    font-size: 12px;
  }
  /* каталог */
  .category-subtitle {
    font-size: 18px;
    padding-top: 23px;
    padding-bottom: 3px;
  }
  /* товар в списке */
  .product-thumbnail {
    width: 220px;
    height: auto;
    margin-right: 14px;
  }
  .product-title {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .product-description {
    font-size: 16px;
    line-height: 20px;
  }
  /* цена */
  .product-price {
    font-size: 22px;
  }
  .product-price span {
    font-size: 14px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 22px;
    width: 71px;
    line-height: 22px;
  }
  .product-counter__active {
    width: 22px;
    height: 22px;
  }  
}
@media only screen and (max-width : 540px) {
  /* шапка */
  .header {
    height: 48px;
  }
  .menu-trigger {
    height: 15px;
    background-size: contain;
  }
  .header-title {
    font-size: 16px;
  }
  /* иконка корзины */
  .header-price {
    font-size: 15px;
    padding-left: 19px;
    line-height: 15px;
    background-size: contain;
  }
  .header-price span {
    font-size: 10px;
  }
   /* каталог */
  .category-subtitle {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 0;
  }
   /* товар в списке */
  .product-thumbnail {
    width: 186px;
  }
  .product-title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .product-description {
    font-size: 13px;
    line-height: 17px;
  }
  /* цена */
  .product-price {
    font-size: 18px;
  }
  .product-price span {
    font-size: 12px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 18px;
    width: 60px;
    line-height: 20px;
  }
  .product-counter__active {
    width: 20px;
    height: 20px;
  }  
}
@media only screen and (max-width : 480px) {
  /* шапка */
  .header {
    height: 42px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-title {
    font-size: 14px;
    padding: 0 110px;
  }
  /* иконка корзины */
  .header-price {
    font-size: 13px;
  }
  .header-price span {
    font-size: 9px;
  }
   /* каталог */
  .category-subtitle {
    font-size: 13px;
  }
  /* товар в списке */
  .product-item {
    padding: 10px 15px;
  }
  .product-thumbnail {
    width: 164px;
    margin-right: 10px;
  }
  .product-title {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .product-description {
    font-size: 12px;
    line-height: 15px;
  }
   /* цена */
  .product-price {
    font-size: 16px;
  }
  .product-price span {
    font-size: 10px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 16px;
    width: 52px;
    line-height: 16px;
  }
  .product-counter__active {
    width: 16px;
    height: 16px;
    background-size: 80%;
  }  
}