@media only screen and (max-width : 640px) {
  /* шапка */
  .header {
    height: 56px;
  }
  .header-title {
    font-size: 19px;
  }
  /* иконка корзины */
  .header-price {
    font-size: 18px;
  }
  .header-price span {
    font-size: 12px;
  }
  /* товар */
  .single-product-title {
    font-size: 31px;
    margin-bottom: 26px;
  }
  .single-product-description {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 32px;
  }
  .single-details {
    padding-bottom: 97px;
  }
  /* характеристики */
  .single-atr__item {
    font-size: 22px;
    margin: 0 25px;
  }
  .single-atr__item span {
    font-size: 16px;
  }
  /* цена */
  .single-footer {
    height: 77px;
  }
  .single-product-price {
    font-size: 22px;
  }
  .single-product-price span {
    font-size: 14px;
  }
  /* счетчик */
  .single-product-counter__text {
    font-size: 22px;
    width: 71px;
    line-height: 22px;
  }
  .single-product-counter__active {
    width: 22px;
    height: 22px;
  }  
}
@media only screen and (max-width : 540px) {
  /* шапка */
  .header {
    height: 48px;
  }
  .menu-trigger {
    height: 15px;
    background-size: contain;
  }
  .header-title {
    font-size: 16px;
  }
  /* иконка корзины */
  .header-price {
    font-size: 15px;
    padding-left: 19px;
    line-height: 15px;
    background-size: contain;
  }
  .header-price span {
    font-size: 10px;
  }
  /* товар */
  .single-product-title {
    font-size: 26px;
    margin-bottom: 26px;
  }
  .single-product-description {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 26px;
  }
  .single-details {
    padding-bottom: 85px;
  }
  /* характеристики */
  .single-atr__item {
    font-size: 18px;
  }
  .single-atr__item span {
    font-size: 13px;
  }
  /* цена */
  .single-footer {
    height: 65px;
  }
  /* поделиться */
  .single-share__button {
    height: 30px;
    background-size: contain;
  }
}