@media only screen and (max-width : 640px) {
  /* шапка */
  .header {
    height: 56px;
  }
  .header-title {
    font-size: 19px;
  }
  /* товар в корзине */
  .cart-product-thumbnail {
    width: 130px;
    height: auto;
  }
  .cart-product-title {
    font-size: 18px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 22px;
    width: 71px;
    line-height: 22px;
  }
  .product-counter__active {
    width: 22px;
    height: 22px;
  }  
  /* промокод */
  .form-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .form-input {
    font-size: 18px;
    line-height: 45px;
  }
  .form-button {
    font-size: 18px;
    line-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
  }
  /* итого */
  .form-item__title {
    font-size: 18px;
    line-height: 45px;
  }
  .form-item__sale-title {
    font-size: 16px;
  }
  .cart-price {
    font-size: 22px;
    line-height: 45px;
  }
  .cart-price__currency {
    font-size: 14px;
  }
  .cart-price__sale {
    font-size: 16px;
  }
  .cart-price-sale__currency {
    font-size: 13px;
  }
  /* select */
  .form-select {
    height: 45px;
  }
  /* текст */
  .sale-alert {
    font-size: 16px;
    line-height: 27px;
  }
  .sale-alert__currency {
    font-size: 12px;
  }
  /* кнопка */
  .form-button-large {
    font-size: 26px;
    line-height: 81px;
  }
}
@media only screen and (max-width : 540px) {
  /* шапка */
  .header {
    height: 48px;
  }
  .menu-trigger {
    height: 15px;
    background-size: contain;
  }
  .header-title {
    font-size: 16px;
  }
  /* очистить корзину */
  .clear-cart {
    height: 15px;
    background-size: contain;
  }
  /* товар в корзине */
  .cart-product-thumbnail {
    width: 110px;
  }
  .cart-product-title {
    font-size: 15px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 18px;
    width: 60px;
    line-height: 20px;
  }
  .product-counter__active {
    width: 20px;
    height: 20px;
  }  
  /* промокод */
  .form-item {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .form-input {
    font-size: 15px;
    line-height: 40px;
  }
  .form-button {
    font-size: 15px;
    line-height: 40px;
    padding-right: 17px;
    padding-left: 17px;
  }
  /* итого */
  .form-item__title {
    font-size: 15px;
    line-height: 40px;
  }
  .form-item__sale-title {
    font-size: 14px;
  }
  .cart-price {
    font-size: 18px;
    line-height: 40px;
  }
  .cart-price__currency {
    font-size: 12px;
  }
  .cart-price__sale {
    font-size: 14px;
  }
  .cart-price-sale__currency {
    font-size: 11px;
  }
  /* select */
  .form-select {
    height: 40px;
    font-size: 15px;
  }
  /* текст */
  .sale-alert {
    font-size: 14px;
    line-height: 23px;
  }
  .sale-alert__currency {
    font-size: 10px;
  }
  /* кнопка */
  .form-button-large {
    font-size: 22px;
    line-height: 70px;
  }
}
@media only screen and (max-width : 480px) {
  /* шапка */
  .header {
    height: 42px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .header-title {
    font-size: 14px;
    padding: 0 110px;
  }
  /* товар в корзине */
  .cart-product {
    padding: 15px;
  }
  .cart-product-thumbnail {
    width: 98px;
  }
  .cart-product-title {
    font-size: 13px;
  }
  /* счетчик */
  .product-counter__text {
    font-size: 16px;
    width: 52px;
    line-height: 16px;
  }
  .product-counter__active {
    width: 16px;
    height: 16px;
    background-size: 80%;
  }  
  /* промокод */
  .form-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-input {
    font-size: 13px;
    line-height: 36px;
  }
  .form-button {
    font-size: 13px;
    line-height: 36px;
    border-radius: 4px;
  }
  /* итого */
  .form-item__title {
    font-size: 16px;
    line-height: 36px;
  }
  .form-item__sale-title {
    font-size: 12px;
  }
  .cart-price {
    font-size: 16px;
    line-height: 36px;
  }
  .cart-price__currency {
    font-size: 10px;
  }
  .cart-price__sale {
    font-size: 12px;
  }
  .cart-price-sale__currency {
    font-size: 10px;
  }
   /* select */
  .form-select {
    height: 36px;
    font-size: 13px;
    background-size: 12px;
  }
  /* текст */
  .sale-alert {
    font-size: 12px;
    line-height: 20px;
  }
  .sale-alert__currency {
    font-size: 9px;
  }
  /* кнопка */
  .form-button-large {
    font-size: 19px;
    line-height: 62px;
    border-radius: 6px;
  }
}