@media only screen and (max-width : 640px) {
  /* шапка */
  .header {
    height: 56px;
  }
  .header-title {
    font-size: 19px;
  }
  /* поля ввода */
  .order-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .order-label {
    font-size: 18px;
    line-height: 31px;
  }
  .order-input {
    font-size: 18px;
    line-height: 31px;
  }
  /* select */
  .form-select {
    line-height: 45px;
  }
  /* текст */
  .other-text {
    font-size: 15px; 
  }
  /* кнопка */
  .form-button-large {
    font-size: 26px;
    line-height: 81px;
  }
}
@media only screen and (max-width : 540px) {
  /* шапка */
  .header {
    height: 48px;
  }
  .menu-trigger {
    height: 15px;
    background-size: contain;
  }
  .header-title {
    font-size: 16px;
  }
  /* очистить корзину */
  .clear-cart {
    height: 15px;
    background-size: contain;
  }
  /* поля ввода */
  .order-item {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .order-label {
    font-size: 15px;
    line-height: 21px;
  }
  .order-input {
    font-size: 15px;
    line-height: 21px;
  }
  /* select */
  .form-select {
    line-height: 40px;
    font-size: 15px;
  }
  /* текст */
  .other-text {
    font-size: 12px; 
  }
  /* кнопка */
  .form-button-large {
    font-size: 22px;
    line-height: 70px;
  }
}